*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-newAccount { 
    background-color: #343a40;
    width: 450px;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.label-1{
    color: white;
}
.label-2{
    color: white;
}

.mb-3{
    color: white;
}
#emailHelp{
    color: red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .form-newAccount{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}